* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: gray;
  }

  &-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background: #000;
    margin: 10px;
    color: white;
    button {
      height: 100%;
      width: 100%;
      font-size: 20px;
    }
  }

}
